name: "Update READMEs contents"

on:
  schedule:
    - cron: "0 0,12 * * *" # every day at midnight and noon
  workflow_dispatch:

permissions:
  contents: write

env:
  VERSION: "0.1.5"

jobs:
  update-readme:
    name: "Update README"
    runs-on: ubuntu-latest
    steps:

      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: Install application to render the template
        uses: supplypike/setup-bin@v4
        with:
          uri: "https://github.com/patrickdappollonio/patrickdappollonio/releases/download/v${{ env.VERSION }}/patrickdappollonio_linux_x86_64.tar.gz"
          name: "patrickdappollonio"
          version: "${{ env.VERSION }}"

      - name: Configure timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: "America/New_York"

      - name: Update README with latest information
        run: |
          git config user.name "GitHub Actions"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          patrickdappollonio > README.md
          git add README.md || echo "No changes to add"
          git commit -m "[ci skip] Updating README with latest information" || echo "No changes to commit"
          git push || echo "No changes to push"
